body {
    font-family: "HarmonyOS_Regular", sans-serif;
    background-color: #97a087;
    padding: 10px;
}
table {
    border: 1px solid black;
}
tr{
    background-color: #ffdcc0;
}
td {
    padding: 10px;
    vertical-align: top;
}
p {
    font-size: 14px;
    background-color: #fff7e0;
    padding: 10px;
    border-radius: 5px;
    line-height: 1.8;
    margin-bottom: 60px;
    
}
h1{
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
    padding: 8px;
    text-align: center;
    font-size: 25px;
}
h2{
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
    padding: 8px;
    text-align: left;
    font-size: 24px;
    margin-bottom: -10px;
}
.icons{
    width: 88px;
    height: 31px;
    padding: 2px;
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 12px;
}
.site-title{
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
    font-size: 42px;
    margin: 0 0 10px 50px;
}
a {
    color: #ea7844;
}
.no-decoration {
    text-decoration: none;
    color: black;
}